<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TheFirstTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/JSP/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FruitServlet</display-name>
    <servlet-name>FruitServlet</servlet-name>
    <servlet-class>com.lh.web.FruitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitServlet</servlet-name>
    <url-pattern>/FruitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitListServlet</display-name>
    <servlet-name>FruitListServlet</servlet-name>
    <servlet-class>com.lh.web.FruitListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitListServlet</servlet-name>
    <url-pattern>/FruitListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitAddServlet</display-name>
    <servlet-name>FruitAddServlet</servlet-name>
    <servlet-class>com.lh.web.FruitAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitAddServlet</servlet-name>
    <url-pattern>/FruitAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitDelServlet</display-name>
    <servlet-name>FruitDelServlet</servlet-name>
    <servlet-class>com.lh.web.FruitDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitDelServlet</servlet-name>
    <url-pattern>/FruitDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitUpdServlet</display-name>
    <servlet-name>FruitUpdServlet</servlet-name>
    <servlet-class>com.lh.web.FruitUpdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitUpdServlet</servlet-name>
    <url-pattern>/FruitUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.lh.web.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckedServlet</display-name>
    <servlet-name>CheckedServlet</servlet-name>
    <servlet-class>com.lh.filter.CheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckedServlet</servlet-name>
    <url-pattern>/CheckedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.lh.filter.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFruitListServlet</display-name>
    <servlet-name>MyFruitListServlet</servlet-name>
    <servlet-class>com.lh.web.MyFruitListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFruitListServlet</servlet-name>
    <url-pattern>/MyFruitListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitListFY</display-name>
    <servlet-name>FruitListFY</servlet-name>
    <servlet-class>com.lh.web.FruitListFY</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitListFY</servlet-name>
    <url-pattern>/FruitListFY</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeAddServlet</display-name>
    <servlet-name>BeforeAddServlet</servlet-name>
    <servlet-class>com.lh.web.BeforeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeAddServlet</servlet-name>
    <url-pattern>/BeforeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnToTheHomePage</display-name>
    <servlet-name>ReturnToTheHomePage</servlet-name>
    <servlet-class>com.lh.web.ReturnToTheHomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnToTheHomePage</servlet-name>
    <url-pattern>/ReturnToTheHomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.lh.web.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BeforeUserAdd</display-name>
    <servlet-name>BeforeUserAdd</servlet-name>
    <servlet-class>com.lh.web.BeforeUserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeforeUserAdd</servlet-name>
    <url-pattern>/BeforeUserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.lh.web.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdataServlet</display-name>
    <servlet-name>UserUpdataServlet</servlet-name>
    <servlet-class>com.lh.web.UserUpdataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdataServlet</servlet-name>
    <url-pattern>/UserUpdataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.lh.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelServlet</display-name>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>com.lh.web.UserDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/UserDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_FruitListServlet</display-name>
    <servlet-name>User_FruitListServlet</servlet-name>
    <servlet-class>com.lh.web.User_FruitListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_FruitListServlet</servlet-name>
    <url-pattern>/User_FruitListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.lh.filter.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upServlet</display-name>
    <servlet-name>upServlet</servlet-name>
    <servlet-class>com.lh.web.upServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upServlet</servlet-name>
    <url-pattern>/upServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileListServlet</display-name>
    <servlet-name>FileListServlet</servlet-name>
    <servlet-class>com.lh.filter.FileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListServlet</servlet-name>
    <url-pattern>/FileListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadServlet</display-name>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>com.lh.filter.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/DownLoadServlet</url-pattern>
  </servlet-mapping>
</web-app>