<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TheFirstTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>loginFilter</display-name>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.lh.filter.loginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/JSP/login.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FruitServlet</display-name>
    <servlet-name>FruitServlet</servlet-name>
    <servlet-class>com.lh.web.FruitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitServlet</servlet-name>
    <url-pattern>/FruitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitListServlet</display-name>
    <servlet-name>FruitListServlet</servlet-name>
    <servlet-class>com.lh.web.FruitListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitListServlet</servlet-name>
    <url-pattern>/FruitListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitAddServlet</display-name>
    <servlet-name>FruitAddServlet</servlet-name>
    <servlet-class>com.lh.web.FruitAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitAddServlet</servlet-name>
    <url-pattern>/FruitAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitDelServlet</display-name>
    <servlet-name>FruitDelServlet</servlet-name>
    <servlet-class>com.lh.web.FruitDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitDelServlet</servlet-name>
    <url-pattern>/FruitDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FruitUpdServlet</display-name>
    <servlet-name>FruitUpdServlet</servlet-name>
    <servlet-class>com.lh.web.FruitUpdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FruitUpdServlet</servlet-name>
    <url-pattern>/FruitUpdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.lh.web.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckedServlet</display-name>
    <servlet-name>CheckedServlet</servlet-name>
    <servlet-class>com.lh.filter.CheckedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckedServlet</servlet-name>
    <url-pattern>/CheckedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.lh.filter.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
</web-app>